.modal {
    top: 0px;
    left: 150%;
    display: none;
}

.modal.open {
    left: 0px;
    width: 100%;
    display: block;
}

.edit-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}

.edit-container {
    font-size: 3vw;
}

