.logo-container{
    background-color: var(--color1);
}

.main-nav-list > * {
    font-size: 19px;
    margin: 10px;
}

.logo {
    width: 140px;
}

.main-nav-list li {
    color: var(--color2);
}

.main-nav-list :hover {
    cursor: pointer;
    color: var(--color3);
}

.search-navigator {
    background-color: white;
}

.search-nav-list > * {
    font-size: 20px;
    margin-left: 20px;
}

.search-nav-list :hover {
    cursor: pointer;
    color: var(--color3);
}
