body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
}

main {
    background-color: rgb(255, 216, 216);
    padding: 20px;
    min-height: 60vh;
}

footer {
    height: 150px;
    background-color: var(--color1);
}

