@media (min-width: 580px) {
    .edit-container {
        flex-direction: row;
        height: 48vw;
        width: 96vw;
        font-size: 1vw;
        margin: auto;
    }

    .img-in {
        width: 100%;
    }

    .edit-container section {
        width: 50%;
        height: 100%;
    }

    .grid-edit {
        width: 77%;
        height: 99%;
        margin-top: 0;
    }

    .grid-edit>* {
        font-size: 2.3em;
    }

    .stikers {
        font-size: 4.2em;
    }

    [name=todo-txt] {
        font-size: 1.4em;
    }
}

@media (min-width: 750px) {
    .edit-container {
        height: 40vw;
        width: 80vw;
    }
    .grid-edit {
        margin-top: 5%;
        width: 70%;
        height: 90%;
    }

    .grid-edit>* {
        font-size: 1.8em;
    }

    .stikers {
        font-size: 3.2em;
    }

    [name=todo-txt] {
        font-size: 1.2em;
    }
}

@media (min-width: 1000px) {
    .edit-container {
        height: 31vw;
        width: 62vw;
    }

    .grid-edit>* {
        font-size: 1.5em;
    }

    .stikers {
        font-size: 2.7em;
    }

    [name=todo-txt] {
        font-size: 1em;
    }
}